@mixin flex_center($gap) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $gap;
}

@mixin flex_sort($gap) {
    display: flex;
    align-items: center;
    gap: $gap;
}

@mixin font_size_nav(){
    color: #6F6E6E;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@mixin flex_space-between{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}